[:main.get-in-touch
 [:div.column-0
  [:div.card-wrap
   [:div.contact-card]]
  [:div.card-wrap
   [:div.map-card]]]
 [:div.column-1
  [:div.image-card-0]
  [:div.facebook-card]]
 [:div.column-2
  [:div.image-card-1]]
 [:div.column-3
  [:div.form-card]]]
