[:nav
 [:button.toggle-menu
  [:span "Menu"]
  [:div.hamburger]]
 [:div.primary-drawer
  [:div.row
   [:div.column
    [:ul.primary-menu
     [:li
      [:a {:href "/"} "Home"]]
     " "
     [:li
      [:a {:href "/our-office"} "Our Office"]]
     " "
     [:li
      [:a {:href "/services"} "Services"]]
     " "
     [:li
      [:a {:href "/get-in-touch"} "Get in Touch"]]
     [:li.space " "]
     [:li.portfolio-link
      [:a {:href "/portfolio"} "Portfolio"]
      [:button.toggle-menu
       [:div.hamburger]]]
     [:li.facebook-link
      [:a {:href "/facebook"}
       [:span.fa.fa-facebook]
       [:span "facebook"]]]]]]
  [:div.portfolio-drawer
   [:div.roof]
   [:span.portfolio-link
    [:a {:href "/portfolio"} "Portfolio:"]]
   " "
   [:div.row
    [:ul.portfolio-menu.column
     [:li
      [:a {:href "/new-homes"} "New Homes"]]
     " "
     [:li
      [:a {:href "/additions"} "Additions"]]
     " "
     [:li
      [:a {:href "/remodels"} "Remodels"]]
     " "
     [:li
      [:a {:href "/condominiums"} "Condominiums"]]]]
   " "
   [:span.divider]
   " "
   [:div.row
    [:ul.portfolio-menu.column
     [:li
      [:a {:href "/commercial"} "Commercial"]]
     " "
     [:li
      [:a {:href "/offices"} "Offices"]]
     " "
     [:li
      [:a {:href "/retail"} "Retail"]]
     " "
     [:li
      [:a {:href "/restaurants"} "Restaurants"]]]]]]]
